# ignore everything in the root.
/*

# -------------------------
# BEGIN Whitelisted Files
# -------------------------

# track these files, if they exist
!.gitignore
!.editorconfig
!README.md
!readme.txt
!CHANGELOG.md
!composer.json
